@import "tailwindcss";
@tailwind components;
@tailwind utilities;

/* Scrollbar hide karne ke liye */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE aur Edge */
  scrollbar-width: none;     /* Firefox */
}
